<div class="col-md-12">
    <div class="login_page">
        <div class="form">
            
            <form class="login_form" action="/register" method="post"> 
                <input type="text" placeholder="Username" name="username"> 
                <input type="password" placeholder="password" name="password">
                 <button type="submit">registered</button>
               
            </form>
        </div>
    </div>
</div>